
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1{
    font-size: 50px;
}

.orange-highlight{
    color: orange;

}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5% ;
    padding: 2%;
}
.half-width img{
    width: 100%;
}
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
   padding-bottom: 150px;
}
.link-button{
 text-decoration: none;
 background-image: linear-gradient(45deg,yellow,tomato);
 padding: 10px 20px;
 border-radius: 5px;
 color: white;
 font-weight: bold;

}
.link-button{
    transition: .4s;
}
.link-button:hover{
    transform: scale(1.5);
}


.second-part-width{
    width: 40%;
    float: left;
    margin: 3%;
    padding: 2%;
}

.second-part-width img{
    width: 100%;
}
h3{
    font-size: 20px;
}
.dream-area{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
    margin: 0;
}
.single-expreance{
    box-shadow: 10px 10px 40px rgb(10, 238, 10);
    border-radius: 5px;
    height: 70%;
   
}
.expreance-area{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
    
}
#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, yellow, red);
    border-image-slice: 1;
}

#baby-web{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,blue,red);
    border-image-slice: 1;

}

.footer{
    text-align: center;

}
.tomato-highlight{
    color: tomato;
}
.green-highlight{
    color: green;
}






/*small device 100% jayga nebe
*/
[class*="col."]{
    width: 100%;
}

/*-------------------------------
small devices(portrait tablets and large phones,576px   
---------------------------------   */

@media (min-width: 576px){

     .col-sm-1{
         width: 8.33%;
     }

     .col-sm-2{
        width: 16.66%;
    }
    
    .col-sm-3{
        width: 25%;
    }

    .col-sm-4{
        width: 33.33%;
    }

    .col-sm-5{
       width: 41.66%;
   }
   
   .col-sm-6{
       width: 50%;
   }

    .col-sm-7{
     width: 58.33%;
   }

     .col-sm-8{
        width: 66.66%;
   }

     .col-sm-9{
        width: 75%;
   }

     .col-sm-10{
         width: 83.33%;
    }

     .col-sm-11{
        width: 91.66%;
    }

      .col-sm-12{
        width: 100%;
    }


}

/*-------------------------------------
medium devices(portrait tablets and large phones,768px  and up 
---------------------------------------  */

@media (min-width: 576px){

    .col-md-1{
        width: 8.33%;
    }

    .col-md-2{
       width: 16.66%;
   }
   
   .col-md-3{
       width: 25%;
   }

   .col-md-4{
       width: 33.33%;
   }

   .col-md-5{
      width: 41.66%;
  }
  
  .col-md-6{
      width: 50%;
  }

   .col-md-7{
    width: 58.33%;
  }

    .col-md-8{
       width: 66.66%;
  }

    .col-md-9{
       width: 75%;
  }

    .col-md-10{
        width: 83.33%;
   }

    .col-md-11{
       width: 91.66%;
   }

     .col-md-12{
       width: 100%;
   }


}

/*-------------------------------------
small devices(portrait tablets and large phones,992px  and up  
---------------------------------------  */

@media (min-width: 992px){

    .col-lg-1{
        width: 8.33%;
    }

    .col-lg-2{
       width: 16.66%;
   }
   
   .col-lg-3{
       width: 25%;
   }

   .col-lg-4{
       width: 33.33%;
   }

   .col-lg-5{
      width: 41.66%;
  }
  
  .col-lg-6{
      width: 50%;
  }

   .col-lg-7{
    width: 58.33%;
  }

    .col-lg-8{
       width: 66.66%;
  }

    .col-lg-9{
       width: 75%;
  }

    .col-lg-10{
        width: 83.33%;
   }

    .col-lg-11{
       width: 91.66%;
   }

     .col-lg-12{
       width: 100%;
   }


}